/* DOCUMENTO CSS */

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvética;
	background-color: #F2D5BB;
}
header {
	background-color: #593C23;
	height: 250px;
	padding-top: 25px;
	color: #A66F3F;
	text-align: center;
}
main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
	align-content: center;
}
.boxlivro {width: 450px;
	  min-height: 300px;
	  background-color: #A66F3F;
	  border-radius: 10px;
	  padding: 15px;
	  color: #F2D5BB;
	  text-align: center;
	  margin: 10px;
	  box-shadow: 6px 6px 15px #a4a4a4;
	  display: flex;
}
.boxlivro:hover{
	box-shadow: 4px #593C23;
	

}
.boxlivro h2{margin: 0 0 10px 0
	padding: 0;

}
.boxlivro figure {min-width: 250px;
	min-height: 200px;
	margin: 0;
	padding: 0;

}
.boxlivro p{font-size: 14px;

}
footer {
	background-color: #4285B2;
	height: 70px;
	padding-top: 10px;
	color: #FFFFFF;
	text-align: center;
}
button {
	width: 100px;
	height: 50px;
	background-color: #F2D5BB;
	color: #593C23;
	border-radius: 50px;
	box-shadow: 5px 5px 5px #725339;
	font-weight: 900;
	margin-top: 30px;
}
footer {
	background-color: #725339;
	height: 70px;
	padding-top: 10px;
	color: #F2D5BB;
	text-align: center;
}